web:
  image: dariusbakunas/nginx
  ports:
   - "8080:80"
  volumes:
   - ./www:/usr/share/nginx/html
  links:
   - db
db:
  image: mysql
  ports:
    - "3306:3306"
  environment:
    MYSQL_ROOT_PASSWORD: P@ssw0rd
